.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  background-color: lightgray;
  top: 20vh;
  left: 10%;
  width: 80%;
  z-index: 10;
  overflow: hidden;
}

.header {
  height: 5vh;
  padding: 1rem;
}

.content {
  height: 30vh;
  padding: 1rem;
}

.footer {
  display: flex;
  align-items: center;
  height: 5vh;
  padding: 1rem;
}
